<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chain.modules.app.dao.TransactionsMapper" >
  <resultMap id="BaseResultMap" type="com.chain.modules.app.entity.Transactions" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="fromAddress" property="fromaddress" jdbcType="VARCHAR" />
    <result column="toAddress" property="toaddress" jdbcType="VARCHAR" />
    <result column="hash" property="hash" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="eHash" property="ehash" jdbcType="VARCHAR" />
    <result column="isValid" property="isvalid" jdbcType="BIGINT" />
    <result column="updateTime" property="updatetime" jdbcType="BIGINT" />
    <result column="snapshot" property="snapshot" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fromAddress, toAddress, hash, type, eHash, isValid, updateTime, snapshot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from db_transaction_0
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from db_transaction_0
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.chain.modules.app.entity.Transactions" >
    insert into db_transaction_0 (id, fromAddress, toAddress, 
      hash, type, eHash, 
      isValid, updateTime, snapshot
      )
    values (#{id,jdbcType=DECIMAL}, #{fromaddress,jdbcType=VARCHAR}, #{toaddress,jdbcType=VARCHAR}, 
      #{hash,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{ehash,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=BIGINT}, #{updatetime,jdbcType=BIGINT}, #{snapshot,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chain.modules.app.entity.Transactions" >
    insert into db_transaction_0
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fromaddress != null" >
        fromAddress,
      </if>
      <if test="toaddress != null" >
        toAddress,
      </if>
      <if test="hash != null" >
        hash,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ehash != null" >
        eHash,
      </if>
      <if test="isvalid != null" >
        isValid,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="snapshot != null" >
        snapshot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="fromaddress != null" >
        #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null" >
        #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="hash != null" >
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="ehash != null" >
        #{ehash,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="snapshot != null" >
        #{snapshot,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chain.modules.app.entity.Transactions" >
    update db_transaction_0
    <set >
      <if test="fromaddress != null" >
        fromAddress = #{fromaddress,jdbcType=VARCHAR},
      </if>
      <if test="toaddress != null" >
        toAddress = #{toaddress,jdbcType=VARCHAR},
      </if>
      <if test="hash != null" >
        hash = #{hash,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="ehash != null" >
        eHash = #{ehash,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isValid = #{isvalid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="snapshot != null" >
        snapshot = #{snapshot,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chain.modules.app.entity.Transactions" >
    update db_transaction_0
    set fromAddress = #{fromaddress,jdbcType=VARCHAR},
      toAddress = #{toaddress,jdbcType=VARCHAR},
      hash = #{hash,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      eHash = #{ehash,jdbcType=VARCHAR},
      isValid = #{isvalid,jdbcType=BIGINT},
      updateTime = #{updatetime,jdbcType=BIGINT},
      snapshot = #{snapshot,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectMessageTotal" parameterType="com.chain.modules.app.entity.Transactions"  resultType="integer">
    SELECT  COUNT(0) FROM db_transaction_0
  </select>
</mapper>